b(val) // b for bracket
  unquote("[") + val + unquote("]")

.course-container
  display: grid
  grid-gap: 0px
  grid-template-columns: b(col) 25% b(col) 45% b(col) 15% b(col) 15%
  grid-template-rows: b(row) 20px b(row) 20px b(row) 20px b(row) auto
  margin: 10px 0
  text-align: center

.course-name
  font-size: small
  grid-column: col 1 / span 2
  grid-row: row 1/ span 2
  text-transform: uppercase

.course-button
  padding: 0
  cursor: pointer

.course-button-pending
	grid-column: col 3 / span 2
	grid-row: row 1

.course-button-signed
	grid-column: col 3 / span 2
	grid-row: row 2

.course-button-approved
	grid-column: col 3 / span 2
	grid-row: row 3

.course-status
  grid-column: col 1 / span 2
  grid-row: row 3
  font-size: x-small
  text-align: center

.course-deps
  grid-column: col 1 / span 4
  grid-row: row 4

.course-separator
  margin: 5px

.dependency
  text-align: left
  font-size: small

.collapse.in
  display: block !important

.course-arrow
  height: 10px
