.course-name
  font-size: small
  float: left

.course-arrow
  float: right
  cursor: pointer

.course-code
  text-align: right
  font-size: small

.course-duration
  text-align: center
  font-size: small

.course-hours
  text-align: left
  font-size: small

.course-separator
  margin: 5px

.panel-body
  padding: 10px

.panel-footer
  padding: 0

.dependency
  font-size: small

.course-grid-container
  margin: auto auto;
  display: grid;
  grid-template-columns: 75% auto;
  grid-gap: 1px;

.course-grid-item-course-name
  text-align: center;
  margin: auto auto;
  grid-row: 1 / 3;

.course-grid-item-course-status
  text-align: center;
  text-transform: uppercase;

.course-grid-item-course-button
  text-align: left
  text-transform: uppercase;
