.course-name
  font-size: small
  float: left

.course-arrow
  float: right
  cursor: pointer

.course-code
  text-align: right
  font-size: small

.course-duration
  text-align: center
  font-size: small

.course-hours
  text-align: left
  font-size: small

.course-separator
  margin: 5px

.panel-body
  padding: 10px

.panel-footer
  padding: 0

.dependency
  font-size: small
