.state-switch-holder {
  margin-left: 12.5px;
}


.line {
  position: relative;

  width: 175px;
  height: 5px;

  border-radius: 100px;
}

.line-read-mode {
  width: 175px;
}


.dot {
  position: relative;

  transition: all 0.3s ease;

  border-radius: 50%;

  width: 20px;
  height: 20px;

  cursor: pointer;
}
.dot.non-selected:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transform-origin: center;
}
.dot.selected {
  transform: scale(1.5);
}


.dot.pending {
  top: -150%;
  float: left;
}
.dot.signed {
  top: -300%;
  display: inline-block;
}
.dot.approved {
  top: -150%;
  float: right;
}


.now-pending {
  background: #E9E9E9;
}
.now-signed {
  background: #FFDF3A;
}
.now-approved {
  background: #5DC178;
}


.status-read-mode {
  font-size: 15px;
  text-transform: uppercase;
  color: red;
}

.status-read-mode-S {
  color: orange;
}
.status-read-mode-A {
  color: green;
}
