.course-holder {
  padding: 15px 10px 0px 10px;
  border: 2px solid #C4C4C4;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 5px;
  position: relative;
}

.course-holder-read-mode {
  padding-top: 0;
  width: 200px;
}

.course-holder-blocked {
  border-width: thin;
}

.course-name-holder {
  float: left;
  width: 85%;
  color: #171717;
  margin: 5px 0px 5px 0px;
  font-size: 15px;
}

.course-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.course-name-selector {

}

.course-hours {
  display: inline-block;
  text-align: left;
  vertical-align: super;

  width: 10%;
  color: grey;
  font-size: 10px;
}

.course-lock, .course-exclamation {
  position: absolute;
  right: 2%;
  top: 5%;
  font-size: small;
}

.course-lock {
  color: red;
}

.course-exclamation {
  color: orange;
}

.course-lock.show, .course-exclamation.show {
  display: block;
}

.course-dependencies-holder {
  margin-top: -10px;
}

.optionals-select__control {
  width: 85%;
  font-size: 12px;
  float: left;
  min-height: 0px !important;
  border: none !important;
  border-bottom: 1px solid #DDD !important;
  cursor: pointer !important;
}

.optionals-select__placeholder {
  margin: 0 !important;
}

.optionals-select__menu {
  font-size: 12px;
}

.optionals-select__indicators {
  display: none !important;
}

.optionals-select__single-value {
  text-align: center;
}
