html
  padding: 10px

.bold
  font-weight: bold

.underlined
  text-decoration: underline

.crossed
  text-decoration: line-through

.right
  text-align: right

.separator
  clear: both

.flexcontainervertical
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

.flexcontainerhorizontal
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  -webkit-flex-direction: row /* works with row or column */
  -webkit-align-items: baseline;
  -webkit-justify-content: center;
