.dependencies-holder {
  display: inline-block;
  width: 50%;
}

.gray-circle {
  display: inline-block;
  width: 15px;
  height: 15px;

  border-radius: 50px;
  vertical-align: middle;
  background: #B6B6B6;
}

.yellow-circle {
  display: inline-block;
  width: 15px;
  height: 15px;

  border-radius: 50px;
  vertical-align: middle;
  background: #FFDF3A;
}

.green-circle {
  display: inline-block;
  width: 15px;
  height: 15px;

  border-radius: 50px;
  vertical-align: middle;
  background: #5DC178;
}

.dependencies-circle {
	font-size: 150px;
	color: #e00;
  animation-name: beat;
  animation-duration: .25s;
  animation-timing-function: linear;
  animation-delay: .5s;
  animation-iteration-count: 4;
  animation-direction: alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.2); }
}

.dependencies-holder-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 15px;
  color: #C4C4C4;
}

.dependencies-list-tooltip {
  list-style: none;
  text-align: left;
  padding: 0 25px;
}

.dependency.dependency-crossed {
  text-decoration: line-through;
}
