.dependencies-holder {
  display: inline-block;
  width: 50%;
}

.gray-circle {
  display: inline-block;
  width: 15px;
  height: 15px;

  border-radius: 50px;
  vertical-align: middle;
  background: #E9E9E9;
}

.yellow-circle {
  display: inline-block;
  width: 15px;
  height: 15px;

  border-radius: 50px;
  vertical-align: middle;
  background: #FFDF3A;
}

.green-circle {
  display: inline-block;
  width: 15px;
  height: 15px;

  border-radius: 50px;
  vertical-align: middle;
  background: #5DC178;
}

.dependencies-holder-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 15px;
  color: #C4C4C4;
}

.dependencies-list-tooltip {
  list-style: none;
  text-align: left;
  padding: 0 25px;
}

.dependency.dependency-crossed {
  text-decoration: line-through;
}
