#top-bar-switch {
  float: left;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#top-bar-input {
  display: none;
}

#top-bar-input:checked + #top-bar-slider {
  background-color: #2196F3;
}

#top-bar-input:focus + #top-bar-slider {
  box-shadow: 0 0 1px #2196F3;
}

#top-bar-input:checked + #top-bar-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#top-bar-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

#top-bar-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.top-bar-text {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 34px;
}

.top-bar-text.active {
  font-weight: bold;
}

.top-bar-text.inactive {
  opacity: 0.5
}

.preview-info {
  vertical-align: super;
}
